@model PIV_PF_ProyectoFinal.Models.Factura

@{
    ViewData["Title"] = "Edit";
}



<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />

<h1>Modificar Factura</h1>

<h4>Factura</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form class="row g-3" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoFactura" />
            <div class="form-group">
                <label asp-for="FechaCompra" class="control-label"></label>
                <input asp-for="FechaCompra" class="form-control" />
                <span asp-validation-for="FechaCompra" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cantidad" class="control-label"></label>
                <input asp-for="Cantidad" class="form-control" />
                <span asp-validation-for="Cantidad" class="text-danger"></span>
            </div>
            <div class="form-group">

                <label asp-for="MetodoPago" class="control-label"></label>
                <select asp-for="MetodoPago" class="form-control">
                    <option value="Efectivo">Efectivo</option>
                    <option value="Tarjeta">Tarjeta de crédito/débito</option>
                    <option value="Tarjeta">Transferencia</option>
                </select>
                <span asp-validation-for="MetodoPago" class="text-danger"></span>

            </div>
            <div class="form-group">
                <label asp-for="IdClientes" class="control-label"></label>
                <select asp-for="IdClientes" class="form-control" asp-items="ViewBag.IdClientes"></select>
                <span asp-validation-for="IdClientes" class="text-danger"></span>
            </div>
            <div class="col-12">
                <button class="btn btn-primary" type="submit" style="margin-bottom: 5px;">Guardar</button>
                <a type="button" class="btn btn-danger" asp-action="Index">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
