@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager



<style>
    body {
        background-image: url('@Url.Content("~/img/fondo2.jpg")');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
        font-size: 18px;
    }

</style>



<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item">
        <a  class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hola @User.Identity?.Name!</a>
    </li>
    <li class="nav-item">
        <form  class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="btn btn-outline-danger" >Logout</button>
        </form>
    </li>
}
else
{
    <li class="nav-item">
            <a class="btn btn-outline-dark"  asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
    </li>
     
        
    <li class="nav-item">
            <a class="btn btn-outline-secondary" asp-area="Identity" asp-page="/Account/Login">Iniciar Sesión</a>
    </li>
}
</ul>
