@model PIV_PF_ProyectoFinal.Models.Producto
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@{
    ViewData["Title"] = "Añadir Producto";
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />


<h1>Crear</h1>

<h4>Producto</h4>
<hr />
<div class="form-container">
    <form class="row g-3" asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <div class="col-md-4">
            <label asp-for="CodigoProducto" class="form-label">Código de Producto</label>
            <input asp-for="CodigoProducto" class="form-control" />
            <span asp-validation-for="CodigoProducto" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="DescripcionProducto" class="form-label">Descripción</label>
            <input asp-for="DescripcionProducto" class="form-control" />
            <span asp-validation-for="DescripcionProducto" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Precio" class="form-label">Precio</label>
            <input asp-for="Precio" class="form-control" />
            <span asp-validation-for="Precio" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="Estado" class="form-label">Estado</label>
            <select asp-for="Estado" class="form-control">
                <option value="Agotado">Agotado</option>
                <option value="En existencia">En existencia</option>
            </select>
            <span asp-validation-for="Estado" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="CantidadStock" class="form-label">Cantidad en Stock</label>
            <input asp-for="CantidadStock" class="form-control" />
            <span asp-validation-for="CantidadStock" class="text-danger"></span>
        </div>

        <div class="col-md-4">
            <label asp-for="CodigoTipoProducto" class="form-label" >Código de Tipo de Producto</label>
            <select asp-for="CodigoTipoProducto" class="form-control" asp-items="ViewBag.CodigoTipoProducto"></select>
        </div>

        <div class="col-md-4">
            <button class="btn btn-primary" type="submit" style="margin-bottom: 5px;">Añadir Producto</button>
        </div>
    </form>
</div>


<div>
    <a asp-action="Index">Regresar</a>
</div>


<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
