@model PIV_PF_ProyectoFinal.Models.TiposProducto
@if (ViewBag.Mensaje != null)
{
    <div class="alert alert-success">
        @ViewBag.Mensaje
    </div>
}

@if (ViewBag.Error != null)
{
    <div class="alert alert-danger">
        @ViewBag.Error
    </div>
}

@{
    ViewData["Title"] = "Edit";
}


<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.rtl.css" rel="stylesheet" />
<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />



<style>



    h1 {
        color: black;
        text-decoration: underline;
    }
</style>






<h1>Modificar Tipo de Producto</h1>

<h4>Tipo de Producto</h4>
<hr />

<div class="row">
    <div class="col-md-4">
        <form class="row g-3" asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="CodigoTipoProducto" />
            <div class="form-group">
                <label asp-for="DescripcionTipoProducto" class="control-label"></label>
                <input asp-for="DescripcionTipoProducto" class="form-control" />
                <span asp-validation-for="DescripcionTipoProducto" class="text-danger"></span>
            </div>

            <div class="col-12">
                <button class="btn btn-primary" type="submit" style="margin-bottom: 5px;">Guardar</button>
                <a type="button" class="btn btn-danger" asp-action="Index">Regresar a la lista</a>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.esm.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
