@{
    ViewData["Title"] = "Politica de Privacidad";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */
        background-image: url('https://img.freepik.com/foto-gratis/resumen-borroso-defocused-farmacia-farmacia_1203-9459.jpg?w=826&t=st=1702697334~exp=1702697934~hmac=a2855cd45ec17bc30e1c91dc26b00e6ef9b2ec2913f65d25171b3d621a3f6702');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }


    h1 {
        color: black;
        text-decoration: underline;
        text-align: center;
        font-size: 20px;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    Fecha de entrada en vigencia: 2023

    Bienvenido a "La Farmacia". En "La Farmacia", nos tomamos muy en serio la privacidad de nuestros usuarios .
    Esta Política de Privacidad describe cómo recopilamos, utilizamos y compartimos la información que obtenemos a través de nuestra página web y servicios relacionados.
    Al utilizar nuestros servicios, usted acepta las prácticas descritas en esta política.
</p>
