@{
    ViewData["Title"] = "Politica de Privacidad";
}
<style>
    body {
        background-image: url('@Url.Content("~/img/fondo2.jpg")');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
        font-size: 18px;
        text-align:center;
        text-align:justify;
    }



    h1 {
        color: black;
        text-decoration: underline;
    }
</style>

<br>
<br>
<h1>@ViewData["Title"]</h1>

<p>
    

    Bienvenido a "La Farmacia". En "La Farmacia", nos tomamos muy en serio la privacidad de nuestros usuarios .
    Esta Política de Privacidad describe cómo recopilamos, utilizamos y compartimos la información que obtenemos a través de nuestra página web y servicios relacionados.
    Al utilizar nuestros servicios, usted acepta las prácticas descritas en esta política.

   
</p>
<br>
<br>
<p style="text-align:center;">


    <img src="~/img/proteger.png" alt="Bootstrap" width="200" height="200" />


</p>


