@{
    ViewData["Title"] = "Politica de Privacidad";
}
<style>
    body {
        /* Establecer la imagen de fondo y ajustar el tamaño y la posición según sea necesario */

        background-image: url('img/resumen-borroso-defocused-farmacia-farmacia.jpg');
        background-size: cover;
        background-position: center;
        font-family: 'Times New Roman';
    }



    h1 {
        color: black;
        text-decoration: underline;
    }
</style>
<h1>@ViewData["Title"]</h1>

<p>
    Fecha de entrada en vigencia: 2023

    Bienvenido a "La Farmacia". En "La Farmacia", nos tomamos muy en serio la privacidad de nuestros usuarios .
    Esta Política de Privacidad describe cómo recopilamos, utilizamos y compartimos la información que obtenemos a través de nuestra página web y servicios relacionados.
    Al utilizar nuestros servicios, usted acepta las prácticas descritas en esta política.
</p>
